[Unit]
Description=Amatak-Code-Server

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/bin/coder.py 80
Restart=always

[Install]
WantedBy=multi-user.target